*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
jetty
.internal_test_app
.tool-versions

# Additional things from v3.3.0 code
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore byebug history
.byebug_history

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore node_modules
node_modules/

# Ignore npm generated lock files
package-lock.json

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore IDE files
.idea

# Ignore DS_Store
.DS_Store

# Ignore Vite Ruby
/public/vite*
/public/geoblacklight-vite*
dist/

# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
.env
.env.*
