<div class='container'>
  <header id="topnav" class="header-logo" role="banner">
    <%= link_to 'https://www.umass.edu/' do %>
    <%= content_tag :span, "University of Massachusetts Amherst: Be Revolutionary", class: "sr-only" %>
    <%= image_tag "UMass_logo.svg", alt: "UMass Amherst", class: 'app-logo' %>
    <% end %>

    <div class="site-name">
      <h1>
        <%= link_to 'UMAP GeoData', root_url %>
      </h1>
    </div>

    <div class='topnav-links'>
      <!--<ul class="navbar-nav">
        <li><a href="#">Menu Item</a></li>
        <li><a href="#">Menu Item</a></li>
      </ul>-->
    </div>
  </header>
</div>
