<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag('UMass_BlackBox.png', height: '160px') %>
      </div>
      <div class="col-md-2 mt-4">
        <h3 class="h6">GeoData</h3>
        <ul class="list-unstyled">
          <li>About</li>
          <li>Contact</li>
          <li>Help</li>
          <li>Staff</li>
        </ul>
      </div>
      <div class="col-md-2 mt-4">
        <h3 class="h6">Libraries</h3>
        <ul class="list-unstyled">
          <li>Homepage</li>
          <li>Locations</li>
          <li>Search the Library</li>
          <li>All Databases A-Z</li>
        </ul>
      </div>
      <div class="col-md-2 mt-4">
        <h3 class="h6">Heading</h3>
        <ul class="list-unstyled">
          <li>Bullet</li>
          <li>Bullet</li>
          <li>Bullet</li>
          <li>Bullet</li>
        </ul>
      </div>
      <div class="col-md-2 mt-4">
        <h3 class="h6">Heading</h3>
        <ul class="list-unstyled">
          <li>Bullet</li>
          <li>Bullet</li>
          <li>Bullet</li>
          <li>Bullet</li>
        </ul>
      </div>
    </div>
    <hr/>
    <a href="https://www.umass.edu/" title="University of Massachusetts Amherst" id="umass--global--footer-wordmark"></a>
    <div id="umass--global--footer--links">©2021 <a href="https://www.umass.edu/" id="umass--global--footer-home">University of Massachusetts Amherst</a> · <a href="https://www.umass.edu/site-policies" id="umass--global--footer-policies">Site&nbsp;Policies</a> · <a href="https://www.umass.edu/accessibility/" id="umass--global--footer-accessibility">Accessibility</a></div>
 </div>
</footer>
