<div id="umass--global--footer">
  <div class="container">
    <a href="https://www.umass.edu/" title="University of Massachusetts Amherst" id="umass--global--footer-wordmark"><img src="//www.umass.edu/static/branding/images/UMassAmherst_longform-WHITE.svg" alt="University of Massachusetts Amherst" id="umass--logo-longform--stacked"></a>
    <div id="umass--global--footer--links">©2021 <a href="https://www.umass.edu/" id="umass--global--footer-home">University of Massachusetts Amherst</a> · <a href="https://www.umass.edu/site-policies" id="umass--global--footer-policies">Site&nbsp;Policies</a> · <a href="https://www.umass.edu/accessibility/" id="umass--global--footer-accessibility">Accessibility</a></div>
 </div>
</div>
