<footer>
  <div class="container">

    <!-- Stack until large screens -->
    <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">

      <!-- Left: Wordmark -->
      <div class="text-center mb-3 mb-lg-0">
        <a href="https://www.umass.edu/" id="umass--global--footer-home">
          <%= image_tag('UMass_logo_white_2026.png',
              alt: 'University of Massachusetts Amherst',
              class: 'app-footer-logo',
              height: '60px') %>
        </a>
      </div>

      <!-- Right: Text + Links -->
      <div class="footer-right w-100 text-center text-lg-end ">

        <!-- Copyright Line -->
        <div class="footer-copyright d-flex flex-md-row justify-content-center justify-content-lg-end mb-2">
          © <%= Date.today.year %>&nbsp;
          <a href="https://www.umass.edu/">
            University of Massachusetts Amherst
          </a>
        </div>

        <!-- Utility Links -->

        <ul class="footer-links list-unstyled d-flex flex-column flex-md-row justify-content-center justify-content-lg-end">
          <li>
            <a href="https://www.umass.edu/gateway/site-policies"
               id="umass--global--footer-policies">
              Site Policies
            </a>
          </li>
          <li>
            <a href="https://www.umass.edu/policy/information-privacy-policy"
              id="umass--global--footer-privacy">
              Privacy
            </a>
          </li>
          <li>
            <a href="https://www.umass.edu/policy/affirmative-action-non-discrimination-and-title-ix-non-discrimination-policy"
              id="umass--global--footer-non-discrimination-notice">
              Non-discrimiation notice
            </a>
          </li>
          <li>
            <a href="https://www.umass.edu/accessibility/"
               id="umass--global--footer-accessibility">
              Accessibility
            </a>
          </li>
          <li>
            <a href="https://www.umass.edu/policy/acceptable-use-information-technology-resources/"
              id="umass--global--footer-terms-of-use">
              Terms of use
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>
