<div id="umass--global--header">
  <div id="container">
    <a id="wordmark" class="ir" href="https://www.umass.edu/" title="UMass Amherst">The University of Massachusetts Amherst</a>
    <nav id="umass--global--navigation">
      <button aria-label="Open UMass Global Links Menu" id="umass--global--navigation--navicon" class="hamburger hamburger--collapse" type="button"> <span class="hamburger-box"> <span class="hamburger-inner"></span> </span> <span class="umass--global--navigation--navicon--label">Open UMass Global Links Menu</span> </button>
      <ul id="umass--global--navigation--links">
        <li><a href="https://www.umass.edu/admissions/visits/visit-campus" id="umass--global--visit">Visit</a></li>
        <li><a href="https://www.umass.edu/gateway/admissions" id="umass--global--apply">Apply</a></li>
        <li><a href="https://securelb.imodules.com/s/1640/rd17/form/form.aspx?sid=1640&amp;gid=2&amp;pgid=443&amp;cid=1121" id="umass--global--give">Give</a></li>
        <li><a href="https://www.umass.edu/search" id="umass--global--search">Search UMass.edu</a></li>
      </ul>
    </nav>
  </div>
</div>
