<ul class="navbar-nav">
  <li class="nav-item">
    <%=link_to('About', 'https://gis.library.umass.edu/data/geodata/', {class: 'nav-link'})%>
  </li>
  <li class="nav-item">
    <%=link_to('Get Help', 'https://gis.library.umass.edu/learning-gis/get-help/', {class: 'nav-link'})%>
  </li>
</ul>
