footer {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;

  background-color: $umass-black;
  color: $umass-medium-gray;
  font-size: 0.9rem;

  img.app-footer-logo {
    margin-top:0rem;
    position:relative;
    right:1rem;
  }

  hr {
    border-color: $umass-medium-gray;
  }

  a {
    color: $umass-light-gray;
  }
  a:hover {
    color: $umass-light-gray;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 800 !important;
    color: $umass-light-gray;
  }

  ul.list-unstyled {
    li {
      a.nav-link {
        padding-left:0;
      }
    }
  }

  #footer-campus-links {
    display:inline;
    li.nav-item {
      display: inline-block;
    }

    .nav-link {
      padding: 0 1rem;
    }

    .nav-link.first {
      padding: 0 1rem 0 0;
    }

    li.nav-item:not(:last-child) .nav-link {
      border-right: 1px solid $umass-medium-gray;
    }

    a.nav-link:hover { text-decoration: underline; }
  }
}
