.umass-navbar {
  background-color: $umass-maroon !important;
}

// Keep application navbar links white
.navbar-dark .navbar-nav .nav-link {
  color: $umass-white;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: $umass-white;
  text-decoration: underline;
}

.umass-app-title a {
  top: 2rem;
  left: 1rem;
  padding: 1rem;
  font-weight: 600px;
  font-size: 30px;
  font-family: 'Lora', serif;
  font-style: normal;
  color: $umass-white;

}

.logo-wrapper {
  height: 60px;
  width: 60px;
}

.navbar-brand {
  // margin-top: 1rem;
  // margin-right: 1rem;
  // margin-bottom: 1rem;
  background: image-url("UMass_M.png") no-repeat top left;
  background-size: contain;
  overflow: hidden;
  text-indent: 100%;
  height: 60px;
  width: 60px;
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  position: relative;
}