.jumbotron {
  background-color: $umass-light-gray;
}

.navbar-search {
  background-color: $umass-white;
  // margin-bottom: 0.5rem;
}

.home-about {
  margin-top: 60px; /* Adds space above about section */
}