#umass--global--footer {
  background-color: #881c1c;
  padding: 1rem;
  color: #fff;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    @media only screen and (max-width: 599px) {
      display: block;
    }

    img {
      flex-grow: 0;
      flex-shrink: 1;
    }

    #umass--global--footer--links {
      flex-grow: 1;
      flex-shrink: 1;
      text-align: right;
      margin-top: 1.5rem;

      a:hover {
        text-decoration: underline;
      }

      @media only screen and (max-width: 599px) {
        text-align: center;
      }
    }

    a,
    a:link,
    a:visited,
    a:hover {
      color: #fff;
      flex-basis: 50%;
      border-bottom: none;
      text-decoration: none;
    }
  }
}
